@import 'tailwindcss';

@font-face {
  font-family: 'Figtree';
  src: url('/src/assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: 'Figtree', sans-serif;
  /* letter-spacing: -1px; */
}
* {
  box-sizing: border-box;
}

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.text-glow-white {
  letter-spacing: -2px;
  color: #fff;
  text-shadow: 0 0 2px #ffffff1a, 0 0 4px #ffffff4d, 0 0 8px #fff3, 0 0 136px #783cff66;
}

.noSelect{
  user-select: none;
}