@import 'tailwindcss';

/* @font-face {
  font-family: shabnam;
  src: url(./assets/fonts/Shabnam.ttf) format("woff");
} */
 @import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;800&display=swap');

body {
  font-family: 'Figtree', sans-serif;
}
* {
  box-sizing: border-box;
}
:root {
  --color-brand: #1e40af; /* آبی اصلی */
  --color-accent: #f59e0b; /* زرد */
  --color-dark: #111827; /* خاکستری خیلی تیره */
}

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.text-glow-white {
  color: #ffffff;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 4px rgba(255, 255, 255, 0.6);
}



