@import 'tailwindcss';

@font-face {
  font-family: 'Figtree';
  src: url('/src/assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: 'Figtree', sans-serif;
  user-select: none;
  /* letter-spacing: -1px; */
}
* {
  box-sizing: border-box;
}
section {
  scroll-margin-top: 5rem; 
}

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.text-glow-white {
  letter-spacing: -2px;
  color: #fff;
  text-shadow: 0 0 2px #ffffff1a, 0 0 4px #ffffff4d, 0 0 8px #fff3, 0 0 136px #783cff66;
}

.noSelect{
  user-select: none;
}
.gradientMove {
  background-size: 200% 200%;
  /* این انیمیشن background-position رو جلو می‌بره */
  animation: gradientShift 5s ease infinite;
}

/* حرکت پیوسته از چپ به راست */
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}