/* glass */
.glass-card {
  /* padding: 1rem; */
  background: rgba(255, 255, 255, 0.025);
  backdrop-filter: blur(8px) saturate(1.2);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 30px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15), 0 2px 8px rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.06),
    inset 0 -1px 0 rgba(255, 255, 255, 0.06);
  position: relative;
  overflow: hidden;
  background-clip: padding-box;
  border: 1px solid #0000;
}
.glass1 {
  position: absolute;
  inset: 0;
  border-radius: 30px;
  padding: 1px;
  background: linear-gradient(135deg, rgba(57, 57, 57, 0.21) 1%, rgba(151, 151, 151, 0.35) 100%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  pointer-events: none;
}
.glass2 {
  position: absolute;
  inset: 1px;
  border-radius: 26px;
  box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.15), inset 0 2px 4px 0 rgba(255, 255, 255, 0.08),
    inset 0 -2px 2px 0 rgba(255, 255, 255, 0.12);
  pointer-events: none;
}
.highlight {
  position: absolute;
  inset: 2px;
  border-radius: 18px;
  background: radial-gradient(circle at 30% 20%, rgba(255, 255, 255, 0.1) 0%, transparent 70%);
  mix-blend-mode: soft-light;
  pointer-events: none;
}

.glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  height: 1px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
}

.glass-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 80%;
  background: linear-gradient(rgba(255, 255, 255, 0.14), rgba(255, 255, 255, 0.055), transparent);
}
